.container {
  overflow-x: scroll;
}
.recentvisitorcard {
  max-width: 210px;
  min-width: 210px;
  max-height: 240px;
  min-height: 240px;

  padding: 10px;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 15px; */

  margin: 30px;

  background: #ffffff;
  box-shadow: 1.853971px 1.853971px 5.26986px rgba(0, 0, 0, 0.25);
  border-radius: 8.53971px;
}

.user_image {
  margin-left: 60px;
  margin-bottom: 12px;
}

.recentvisitorcard_location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recentvisitorcard_location > h4 {
  font-weight: 500;
  font-size: 11.9556px;
  line-height: 18px;
}
.recentvisitorcard > img {
  height: 70px;
  width: 70px;
}

.recentvisitorcard_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recentvisitorcard_intro > p {
  font-weight: 500;
  font-size: 12.8096px;
  line-height: 10px;
}

span.recentvisitorcard_height {
  color: rgba(0, 0, 0, 0.5);
}
button.recentvisitorcard_connect_button {
  background: linear-gradient(180deg, #cf166f 0%, rgba(227, 83, 63, 0.36) 100%);
  border-radius: 42.6986px;
  width: 80%;
  height: 30px;
  border: none;
  margin-left: 20px;
}
button.recentvisitorcard_connect_button:hover {
  cursor: pointer;
}
