.messages {
  display: flex;
  padding: 60px;
}

@media (max-width: 770px) {
  .messages {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .profile__messages_wrapper {
    max-height: 300px;
    min-height: 100px;
    height: auto;
    overflow: scroll;
    transition: 0.5s all;
  }
  .messages_input_form {
    gap: 15px !important;
    padding: 10px 15px !important;
  }
}

.messages_left {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.messages_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 17px;
}

.messages_header_profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.messages_header_profile > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.messages_message_panel {
  height: 505px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  overflow: scroll;
}

.messages_message_panel::-webkit-scrollbar {
  display: none;
}

.messages_right {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile__messages_wrapper {
  max-height: 500px;
  overflow: scroll;
  transition: 0.5s all;
}
.porfile__messages_back_icon {
  display: none;
}

.messages_input_form {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 30px;
}

.messages_chat_input_wrapper {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(251, 251, 251);
  border-radius: 5px;
  background: #fcfcfc;
  width: 100%;
}

.messages_chat_input_wrapper > input {
  border: none;
  background: #fcfcfc;
}

.messages_chat_input_wrapper > button {
  color: #f97096;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: none;
  background: none;
}

.messages_chat_screen {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
  padding: 15px 0;
}
